extends layout

block content
    .container.mt-5
        h1.text-center.my-3 Hospital Services
        p.text-center.text-muted Explore the services we offer below.

        .row.justify-content-center.mt-4
            if services && services.length
                .row.justify-content-center
                    each service in services
                        .col-md-6.mb-4
                            .card.shadow-sm
                                .card-body
                                    h5.card-title #{service.name}
                                    form(method="post", action="/booking/book")
                                        input(type="hidden", name="_csrf", value=csrfToken)
                                        input(type="hidden", name="service_id", value=service.id)
                                        .form-group
                                            label(for="appointment_date") Appointment Date:
                                            input#appointment_date(type="date", name="appointment_date", required=true, class="form-control")
                                        button.btn.btn-primary.mt-3(type="submit") Book Service
            else
                p.text-center.text-muted No services are currently available.