extends layout

block content
  .container.text-center.my-5
    h1 Login
    form(method="post", action="/auth/login")
      input(type='hidden', name='_csrf', value=csrfToken)
      .my-2
        label(for="email") Email:
        input#email(type="email" name="email", placeholder="Enter your email", required=true)
      .my-2
        label(for="password") Password:
        input#password(type="password" name="password", placeholder="Enter your password", required=true)
      .my-4
        button(type="submit", class="btn btn-primary") Login

    p.mt-4
      | Don't have an account?
      a(href="/auth/register") Register here